{% extends "base.html" %}

{% block title %}
User Signup
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column"></div>
  <div class="column is-two-fifths">

    {% if form.errors %}
    <div class="notification">
      <button class="delete"></button>
      <article class="message is-danger">
        <div class="message-header">
          <p>Error</p>
        </div>
        <div class="message-body">
          {% if form.errors.captcha %}
            {{ form.errors.captcha }}
          {% else %}
            {% for error in form.errors.values %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </div>
      </article>
    </div>
    {% endif %}

    <h2 class="title">Create your FederatedCode Account</h2>
    <form method="post">
      {% csrf_token %}
      <div class="field">
        <div class="control">
            <label class="label" for="id_username">Username</label>
            <input class="input" placeholder="Username" type="text" name="username" maxlength="150" autofocus required
            id="id_username">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label" for="id_email">Email</label>
          <input class="input" type="email" placeholder="Email" name="email" maxlength="254" required id="id_email">
        </div>
      </div>
      <div class="field">
        <div class="control">
            <label class="label" for="id_password1">Password</label>
            <input class="input" type="password" placeholder="Create a password" name="password1" autocomplete="new-password"
            required id="id_password1">

        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label" for="id_password2">Confirm Password</label>
          <input class="input" type="password" placeholder="Confirm your password" name="password2"
            autocomplete="new-password" required id="id_password2">
        </div>
      </div>
      <div class="field">
        <label class="label">Verification</label>
        <div class="control">
          {{ form.captcha }}
        </div>
      </div>
      <input class="button is-fullwidth is-info" type="submit" value="Sign Up">
    </form>
  </div>
  <div class="column"></div>
</div>
{% endblock %}